body{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
}

.material-symbols-outlined {
  font-size: 35px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


h2{
    color: white;
    position: absolute;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.gråbakgrund{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    justify-self: center;
}

#bokakörning{
    background-color:rgb(28, 105, 212);
    position: absolute;
    justify-self: center;
}

#seallabilar{
    background-color:rgb(28, 105, 212);
    position: absolute;
    justify-self: center;
}

@media screen and (max-width: 500px){
   
    #container{
    display: grid;
    height: 98vh;
    width: 98vw;
    padding: 0px;
    gap: 1vh;
    grid-template-columns: 100%;
    grid-template-rows: 15% auto 20%;
    grid-template-areas:
        'hd'
        'mn'
        'ft'
    }

    #headermain{
    grid-area: hd;
    background-color: red;
    }

    .name{
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Merriweather';
    }

    nav{
        
    }

    #pris{
        text-align: center;
        margin: 11px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }

    .prisbakgrund{
        width: 150px;
        height: 40px;
        background-color:rgb(28, 105, 212);
        border-radius: 2px;
        position: absolute;
        justify-self: center;
        top: 221px; 
    }


    #mainsite{
    display: grid;
    grid-area: mn;
    background-color: pink;
    position: relative;
    }

    .gråbakgrund{
        z-index: 5;
        width: 80vw;
        height: 5vh;
        top: 27px;
    }
    
    #bokakörning{
        width: 200px;
        height: 50px;
        border-radius: 2px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    #seallabilar{
        width: 100px;
        height: 40px;
        top: 300px;
        border-radius: 2px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    h2{
    position: absolute;
    font-size: 35px;
    display: flex;
    justify-self: center;
    }

    #bmwi7pic{
    width: 100%;
    display: flex;
    z-index: 0;
    position: absolute;
    }

    footer{
        grid-area: ft;
        background-color: purple;
    }

}



@media screen and (min-width: 501px){

}